@import url('Menu.css');
/*Fuente Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: auto;
    background-color: #333;
    position:fixed;
    color: #fff;
    top:0;
    left: 0;
    z-index: 100;
}
h1{
    
    text-align: center;
}
