#menu-bar{
    display: none;
    float: right;
}


header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
    
}
header .contenedor a img{
    float: left;
    
}

.menu{
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
    
}


.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom:1px solid rgba(255,255,255,0.5);
    
}
.menu a:hover{
    background: rgba(255,255,255,0.3);
    
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

/*Media */
@media (min-width:1024px){
    .menu{
        width: 20%;
        transform: translateX(-100%);
    }
}
@media (max-width:380px){
    .menu{
        top:85px;
        transform: translateX(-100%);
    }
}

/*Fin Media */