
.icon-user:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-archive:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */